.service{
    transition: all .5s ease;
    margin: 20px 10px;
    padding: 10px;
    border: 1px solid gray;
    height: 400px;
    font-size: 14px;
}

.service:hover{
    box-shadow: 1px 1px 4px 1px gray;
    border-radius: 20px;
}

.service img{
    width: 60%;
    border-radius: 5px;
    border: 1px dotted gray;
}

.service h6{
    margin: 10px 0 5px 0;
}

.service p{
    text-align: justify;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .service{
        height: 480px;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .service{
        height: 430px;
    }
}