/* footer section css */

.footer-address ul, .footer-contact ul, .footer-branch ul{
    list-style: none;
}

/* media queries */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .footer-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .footer-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

