/* footer section css */
.footer-section{
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    background-color: #212529c9;
    border-radius: 10px;
}
.footer-address ul, .footer-contact ul, .footer-branch ul{
    list-style: none;
}